/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

form a{
  color: white !important;
  text-decoration: none !important
}
.addnewpost a{
  color: white !important;
  text-decoration: none !important
}